@using Hangman.Models;
<!DOCTYPE html>
<html>
  <head>
    <title>
      TwoPlayer
    </title>
  </head>
  <body>
    <p>Now here is where the picture of the noose and spaces are!</p>
    @for(int i = 0; i < Model.Word.Length; i++){
      <p>_</p>
    }
    <p>Word Id: @Model.Id</p>
    <p>Word: @Model.Word</p>
    <p>Score : @Model.Score</p>
    <p>Current guess: @Model.Guess.Bet</p>
    @if(Model.CheckLetter()) {
      <p>it matched</p>
    }
    else{
      <p>it doesnt match</p>
    }
    <p> for each </p>
    @foreach(string i in Model.GetAllLetters())
    {
      <p>@i</p>
    }
  
    <p>Welcome to virtual canvas</p>
    
    <form action="/hangman/{letter}" method="post">
      <label for="letter">Type a letter here for your guess</label>
      <input id="letter" name="letter" type="text">
      <button type="submit">Submit guess</button>
    </form>
  </body>
</html>